<phpunit colors="true" bootstrap="tests/bootstrap.php">
	<testsuites>
		<testsuite name="CSV Tests">
			<directory>Solution10/CSV/tests</directory>
		</testsuite>
		<testsuite name="Collection Tests">
			<directory>Solution10/Collection/tests</directory>
		</testsuite>
		<testsuite name="Auth Tests">
			<directory>Solution10/Auth/tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
